---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Obi from "../components/Obi.astro";
import About from "../components/About.astro";
import PhoneObi from "../components/PhoneObi.astro";
import Scene from "../components/Scene.astro";
import PhoneType from "../components/PhoneType.astro";
import OptionItems from "../components/OptionItems.astro";
import SpecialMemories from "../components/SpecialMemories.astro";
import Flow from "../components/Flow.astro";
import PhonePhotos from "../components/PhonePhotos.astro";
import Faq from "../components/Faq.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Phone Talk">
	<div id="phonetalk-bg"></div>
	<Header />
	<Hero />
	<Obi />
	<About />
	<PhoneObi />
	<Scene />
	<PhoneType />
	<OptionItems />
	<SpecialMemories />
	<Flow />
	<PhonePhotos />
	<Faq />
	<Footer />
	<Contact />
</Layout>

<style>
	#phonetalk-bg {
		@apply fixed bottom-0 left-1/2 -translate-x-1/2
				bg-bg-gray -z-10 rounded-t-[200px] sm:rounded-t-full
				max-w-[96%] sm:max-w-[99%] min-w-[calc(100%-90px)] sm:min-w-[800px]
				h-[calc(100%-180px)] sm:h-[calc(100%-60px)];
	}
</style>

<script>
	let currentBgWidth = 0;
	let currentBgHeight = 0;
  document.addEventListener("DOMContentLoaded", (_event) => {
		const phonetalkBg = document.getElementById('phonetalk-bg');
		currentBgWidth = phonetalkBg.clientWidth;
		currentBgHeight = phonetalkBg.clientHeight;
	});
  document.addEventListener("resize", (_event) => {
		const phonetalkBg = document.getElementById('phonetalk-bg');
		currentBgWidth = phonetalkBg.clientWidth;
		currentBgHeight = phonetalkBg.clientHeight;
	});
  document.addEventListener("scroll", (_event) => {
		const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
		const phonetalkBg = document.getElementById('phonetalk-bg');
		phonetalkBg.style.width = `${currentBgWidth + (scrollTop / 5)}px`;
		phonetalkBg.style.height = `${currentBgHeight + (scrollTop / 9)}px`;
	});
</script>