---
import { Image } from "astro:assets";
import LineQr from "../assets/line-qr.webp";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Obi from "../components/Obi.astro";
import About from "../components/About.astro";
import PhoneObi from "../components/PhoneObi.astro";
import Scene from "../components/Scene.astro";
import PhoneType from "../components/PhoneType.astro";
import OptionItems from "../components/OptionItems.astro";
import SpecialMemories from "../components/SpecialMemories.astro";
import Flow from "../components/Flow.astro";
import PhonePhotos from "../components/PhonePhotos.astro";
---

<Layout title="Phone Talk">
	<Header />
	<Hero />
	<Obi />
	<About />
	<PhoneObi />
	<Scene />
	<PhoneType />
	<OptionItems />
	<SpecialMemories />
	<Flow />
	<PhonePhotos />
	<div
		class="flex my-4 justify-center items-center flex-col font-bold text-xl"
	>
		<a
			class="flex my-4 justify-center items-center flex-col w-full"
			href="https://lin.ee/NniC5wJ"
		>
			<div>問い合わせはこちら</div>
			<Image class="w-48 h-48" src={LineQr} alt="問い合わせ先" />
		</a>
	</div>
</Layout>

<style></style>
