---
---


<div
  class="block lg:hidden fixed bottom-2 left-1/2 -translate-x-1/2 w-full"
>
  <a
    class="flex justify-center items-center"
    href="https://lin.ee/NniC5wJ"
  >
    <div class="text-white bg-gold px-12 py-5 font-semibold text-xl">
      LINEで問い合わせる
    </div>
  </a>
</div>
<div
  class="hidden lg:block fixed bottom-20 right-0 w-fit"
>
  <a
    class="flex justify-center items-center w-fit"
    href="https://lin.ee/NniC5wJ"
  >
    <div class="vertical-rl text-white bg-gold py-12 px-5 font-semibold text-xl">
      ＬＩＮＥで問い合わせる
    </div>
  </a>
</div>

<style>
  .vertical-rl {
    writing-mode: vertical-rl
  }
</style>