---
import { Image } from "astro:assets";
import logo from "../assets/logo-slim.webp";
---

<div class="border-orange border-t-4">
    <div
        class="flex justify-between items-center p-9 container mx-auto max-w-7xl"
    >
        <div>
            <Image
                class="w-16 h-auto"
                src={logo}
                alt="PhoneTalkロゴ"
            />
        </div>
        <!-- <div class="hidden md:flex justify-around items-center">
            <a href="#">About</a>
            <a href="#">Our Phones</a>
            <a href="#">Flow</a>
            <a href="#">FAQ</a>
            <a href="#">Voice</a>
        </div>
        <div
            class="flex md:hidden justify-between items-center flex-col h-4 cursor-pointer"
        >
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
        </div> -->
    </div>
</div>

<style>
    a {
        @apply text-xl mr-12 font-futurapt;
        font-weight: 450;
    }
    .menu {
        @apply border-t border-t-light-black w-8;
    }
</style>
