---
import { Image } from "astro:assets";
import TextArchiPc from "../assets/text-archi-pc.webp";
import TextArchiSp from "../assets/text-archi-sp.webp";
import HeroPic1 from "../assets/hero-pic-1.webp";
---

<div class="flex justify-center relative mx-4">
    <div class="relative w-[470px] h-[640px] mx-4 hidden sm:block">
        <Image
            class="text-archi pc"
            src={TextArchiPc}
            width={1175}
            height={1014}
            alt="Special memories will always be here"
        />
        <div
            style=`background-image: url(${HeroPic1.src})`
            class="door-img pc"
        >
        </div>
    </div>
    <div class="relative max-w-[450px] w-[100%] h-[425px] block sm:hidden">
        <Image
            class="text-archi sp"
            src={TextArchiSp}
            width={709}
            height={611}
            alt="Special memories will always be here"
        />
        <div
            style=`background-image: url(${HeroPic1.src})`
            class="door-img sp"
        >
        </div>
    </div>
</div>

<style>
    .text-archi {
        @apply absolute left-1/2 -translate-x-1/2;
        &.pc {
            @apply -top-4;
            max-width: calc(100% + 100px);
        }
        &.sp {
            @apply w-full -top-2;
            max-width: calc(100% + 80px);
        }
    }
    .door-img {
        @apply absolute bottom-0 left-1/2 -translate-x-1/2
                bg-center bg-no-repeat rounded-t-full
                border-orange border-8;
        &.pc {
            @apply bg-large max-w-[90%] w-[470px] h-[600px];
        }
        &.sp {
            @apply bg-small -bottom-2 max-w-[450px] w-[100%] h-[395px];
            max-width: calc(100% - 80px);
        }
    }
</style>
