<div class="obi">
  <div class="obi-text-area animate-loopslide">
    <span>Wedding Party</span>
    <span>Birthday Party</span>
    <span>Baby Shower</span>
    <span>Retirement Gift</span>
    <span>Sports Event</span>
    <span>Artist Live</span>
    <span>Time Capsule</span>
  </div>
  <div class="obi-text-area animate-loopslide">
    <span>Wedding Party</span>
    <span>Birthday Party</span>
    <span>Baby Shower</span>
    <span>Retirement Gift</span>
    <span>Sports Event</span>
    <span>Artist Live</span>
    <span>Time Capsule</span>
  </div>
</div>

<style>
  .obi {
    @apply bg-orange h-8 w-full my-6
          flex justify-start items-center
          text-white font-bold
          overflow-hidden text-xs;
  }
  .obi-text-area {
    @apply flex justify-start items-center whitespace-nowrap;
    span {
      @apply mx-4;
    }
  }
</style>