---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="PhoneTalk" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			import '../scripts/typekit.js';
		</script>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  @font-face {
    font-family: 'Koburina';
    src: url("https://phone-talk.co.jp/fonts/KoburinaStdNW1.otf") format('otf');
    font-weight: light;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Koburina';
    src: url("https://phone-talk.co.jp/fonts/KoburinaStdNW3.otf") format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Koburina';
    src: url("https://phone-talk.co.jp/fonts/KoburinaStdNW6.otf") format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
	* {
		font-family: 'Koburina', sans-serif;
	}
	body {
		@apply bg-white;
	}
</style>
